name: CI

on:
    push:
        branches:
            - master
        paths-ignore:
            - "docs/**"
            - "*.md"
    pull_request:
        branches:
            - master
        paths-ignore:
            - "docs/**"
            - "*.md"

jobs:
    cleanup-runs:
        name: Clean-Up Running Instances
        if: "!startsWith(github.ref, 'refs/tags/') && github.ref != 'refs/heads/master'"
        runs-on: ubuntu-latest
        steps:
            - uses: rokroskar/workflow-run-cleanup-action@master
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    lint:
        name: Lint Code
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - uses: actions/setup-node@v2.1.5
              with:
                  node: 16
            - name: Get NPM Cache Directory
              id: npm-cache-dir
              run: |
                  echo "::set-output name=dir::$(npm config get cache)"
            - uses: actions/cache@v2.1.5
              id: npm-cache
              with:
                  path: ${{ steps.npm-cache-dir.outputs.dir }}
                  key: ${{ runner.os }}-${{ matrix.node }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-${{ matrix.node }}-node-
            - name: Install
              run: npm ci --ignore-scripts
            - name: Run ESLint
              run: npm run lint
            - name: Run Prettier
              run: npm run lint:prettier:ci
            - name: Run License Checker
              run: npm run lint:licenses
            - name: Run Lockfile Linter
              run: npx lockfile-lint --path package-lock.json --type npm --allowed-hosts npm --validate-https

    commit-lint:
        name: Lint Commit Messages
        if: >
            github.event.pull_request.draft == false &&
            github.actor != 'dependabot[bot]'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
              with:
                  fetch-depth: 0
            - uses: wagoid/commitlint-github-action@v3.1.3
              with:
                  configFile: ./package.json

    unit-tests:
        name: Unit Tests
        if: github.event.pull_request.draft == false
        strategy:
            matrix:
                node: [12, 14, 16]
                os: [macos-latest, ubuntu-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v2.3.4
            - name: Use Node.js ${{ matrix.node }} on ${{ matrix.os }}
              uses: actions/setup-node@v2.1.5
              with:
                  node: ${{ matrix.node }}
            - name: Get NPM Cache Directory
              id: npm-cache-dir
              run: |
                  echo "::set-output name=dir::$(npm config get cache)"
            - uses: actions/cache@v2.1.5
              id: npm-cache
              with:
                  path: ${{ steps.npm-cache-dir.outputs.dir }}
                  key: ${{ runner.os }}-${{ matrix.node }}-node-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ${{ runner.os }}-${{ matrix.node }}-node-
            - name: Install
              run: npm ci --ignore-scripts
            - name: Run macOS Tests
              if: matrix.os == 'macos-latest'
              env:
                  HOMEBREW_NO_AUTO_UPDATE: 1
                  HOMEBREW_NO_INSTALL_CLEANUP: 1
                  POPPLER_BINARY_PATH: /usr/local/bin
                  UNRTF_BINARY_PATH: /usr/local/bin
              run: |
                  brew install unrtf poppler
                  cp .env.template .env
                  npm run jest:coverage
            - name: Run Ubuntu Tests
              if: matrix.os == 'ubuntu-latest'
              env:
                  POPPLER_BINARY_PATH: /usr/bin
                  UNRTF_BINARY_PATH: /usr/bin
              run: |
                  sudo apt-get -y install poppler-data poppler-utils unrtf
                  cp .env.template .env
                  npm run jest:coverage
            - name: Run Windows Tests
              if: matrix.os == 'windows-latest'
              run: |
                  cp .env.template .env
                  npm run jest:coverage
            - name: Coveralls Parallel
              if: github.repository == 'Fdawgs/doccon'
              uses: coverallsapp/github-action@v1.1.2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  parallel: true
                  flag-name: run-${{ matrix.node }}-${{ matrix.os }}

    lint-docker-file:
        name: Lint Dockerfile
        if: github.event.pull_request.draft == false
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - uses: brpaz/hadolint-action@v1.5.0
              with:
                  dockerfile: Dockerfile

    # docker-tests:
    #     name: Docker Build Tests
    #     if: github.event.pull_request.draft == false
    #     needs: lint-docker-file
    #     runs-on: ubuntu-latest
    #     steps:
    #         - uses: actions/checkout@v2.3.4
    #         - name: Build and Start App
    #           run: |
    #               docker build --build-arg NODE_ENV=test -t doc-conversion-api .
    #               docker run --network --publish 8204:8204 doc-conversion-api

    docker-compose-tests:
        name: Docker Compose Build Tests
        if: github.event.pull_request.draft == false
        needs: lint-docker-file
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - name: Build and Start App
              run: |
                  cp .env.template .env
                  NODE_ENV=test docker-compose up --detach

    coverage:
        name: Aggregate Coverage Calculations
        needs: unit-tests
        if: >
            github.event.pull_request.draft == false &&
            github.repository == 'Fdawgs/doccon'
        runs-on: ubuntu-latest
        steps:
            - name: Coveralls Finished
              uses: coverallsapp/github-action@v1.1.2
              with:
                  github-token: ${{ secrets.GITHUB_TOKEN }}
                  parallel-finished: true

    # This job is used to save the PR number in an artifact, for use in the automerge.yml workflow
    save-pr-number:
        name: Save PR Number
        if: >
            github.event.pull_request.draft == false && 
            github.event_name == 'pull_request'
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2.3.4
            - name: Save PR Number
              run: |
                  mkdir -p ./pr
                  echo ${{ github.event.number }} > ./pr/NR
            - uses: actions/upload-artifact@v2.2.3
              with:
                  name: pr
                  path: pr/
