name: Optimise Images

# **What it does**: Automatically compress and optimise images.
# **Why we have it**: Reduces bandwidth needs of app and repo.

on:
    push:
        branches:
            - main
        paths:
            - "**.jpg"
            - "**.jpeg"
            - "**.png"
            - "**.webp"
    pull_request:
        paths:
            - "**.jpg"
            - "**.jpeg"
            - "**.png"
            - "**.webp"
    workflow_dispatch:

permissions:
    contents: read

jobs:
    build:
        name: Optimise Images
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        # Only run on main repo and PRs that match the main repo
        if: >
            github.repository == 'Fdawgs/docsmith' &&
            (github.event_name != 'pull_request' ||
             github.event.pull_request.head.repo.full_name == github.repository)
        steps:
            - name: Check out repo
              uses: actions/checkout@v6
              with:
                  persist-credentials: false

            - name: Compress images
              id: calibre
              uses: calibreapp/image-actions@f32575787d333b0579f0b7d506ff03be63a669d1 # 1.4.1
              with:
                  githubToken: ${{ secrets.GITHUB_TOKEN }}
                  jpegQuality: "100"
                  pngQuality: "100"
                  webpQuality: "100"
                  # For non-Pull Requests, run in compressOnly mode and PR after
                  compressOnly: ${{ github.event_name != 'pull_request' }}

            - name: Create pull request
              # If it is not a Pull Request then commit any changes as a new PR
              if: >
                  github.event_name != 'pull_request' &&
                  steps.calibre.outputs.markdown != ''
              uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
              with:
                  title: "chore: auto-compress images"
                  branch-suffix: timestamp
                  commit-message: "chore: auto-compress images"
                  body: ${{ steps.calibre.outputs.markdown }}
